body {
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8BqHcgS99OtGg_htpSmsyEbjFp1nndpynGXqtFgQt1AdpB89m),url(https://us.123rf.com/450wm/alxyzt/alxyzt1710/alxyzt171000395/88839662-kawaii-cartoon-white-emoticon-cute-cloud-illustration.jpg?ver=6);
    background-position:  bottom, top;   
    background-repeat: no-repeat, no-repeat; 
    background-size: 250px 250px, 180px 180px;

    text-align: center;
    margin: auto;
}
.text {
     font-size: 45px;
	font-family: "Comic Sans MS", cursive, sans-serif;	
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    padding: 8px;
}
